.page {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);
  margin: 0 auto;
  padding-top: 2rem;

  &.dashboard {
    max-width: 60rem;
  }

  &-title {
    font-size: 1.5rem;
    margin: 1rem;
  }

  &-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
  }

  .dashboard {

    &-management-panel {
      display: flex;
      margin-bottom: 1rem;
      justify-content: space-between;

      &-button {
        margin-right: 1rem;
      }

      &-search {
        width: 15rem;
      }
    }
  }
}
